<style
/*body, html {
    height: 100%;
    }
      
    .bg {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2015/04/30/13/33/dog-in-field-746913_960_720.jpg");
      
    /* Full height */
    height: 100%;
      
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  }
  @media (min-width: 540px){
      .card-body_mobile {
          background-color: rgb(212, 236, 236);
      }
  }
  @media (min-width: 760px){
      .card-body_mobile {
          background-color:yellow;
      }
  }
  @media (min-width: 10240px){
      .card-body_mobile {
          background-color:purple;
      }
  }
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  </style>